@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://use.fontawesome.com/releases/v5.15.3/css/all.css";

body {

    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;


}

.account_box {
    display: block;
    width: 75%;
    margin-top: 20% !important;
    margin: auto;
}

.hide {
    display: none;
}

.table-container {
    max-height: 600px;
    overflow-y: auto;
}

.view-box-ni-luis {
    min-width: 1000px;
    margin-top: 50px !important;
    margin: auto;
    padding: 20px;
    background-color: white;
}