<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -->
    <link rel="stylesheet" href="static/css/main.css">
    {% block head %}{% endblock %}
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}" style="margin-left: 20px;">
                <img src="static/img/navbar/Episteme-logo.png"
                    alt="Episteme: A Knowledge Management System For Sorting Theses Knowledge" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div class="navbar-menu" id="navMenu">

            <div class="navbar-start">

                <a class="navbar-item" href="{{ url_for('homepage') }}">
                    Knowledge Library
                </a>

                <a class="navbar-item" href="{{ url_for('submission') }}">
                    Submission Form
                </a>

                {% if session['email_address'] == 'dev@bigbrews' %}
                <a class="navbar-item" href="{{ url_for('admin') }}">
                    Admin Panel
                </a>
                {%endif%}


                {% if session['email_address'] == 'dev@bigbrews' %}
                <a class="navbar-item" href="{{ url_for('verify') }}">
                    Verify Panel
                </a>
                {%endif%}

                {% if session['email_address'] == 'dev@bigbrews' %}
                <a class="navbar-item" href="{{ url_for('publish') }}">
                    Publish Panel
                </a>
                {%endif%}

            </div>

            <div class="navbar-end">

                <a href="/logout">
                    <button class="button is-danger" style="margin-right: 20px; margin-top:5px;">
                        Logout
                    </button>
                </a>

            </div>

        </div>

    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block body %}




    {% endblock %}

    <script src="static/js/navbar.js"></script>


</body>

</html>