{% extends 'base2.html' %}

{% block head %}

<link rel="stylesheet" href="static/css/selection.css">

<title>Episteme | Home</title>

{% endblock %}

{% block body %}
<div id="selection-div" class="overlay"> <!-- Selection Div -->
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered is-vcentered selection-columns">
                    <div class="column is-three-quarters">
                        <div class="buttons is-centered">
                            <div class="card" style="width: 400px; height: 600px; margin: auto;">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content has-text-centered">
                                    <nav class="level is-mobile">
                                        <div class="level-item">
                                            <a href="{{ url_for('submission') }}">
                                                <div class="selection">
                                                    <button class="button is-link is-fullwidth is-large"
                                                        style="width: 300px;">
                                                        Submit a Project/Thesis
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="card" style="width: 400px; height: 600px; margin: auto;">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://images.unsplash.com/photo-1524578271613-d550eacf6090?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content has-text-centered">
                                    <nav class="level is-mobile">
                                        <div class="level-item">
                                            <a href="" id="continue-btn">
                                                <div class="selection">
                                                    <button class="button is-link is-fullwidth is-large"
                                                        style="width: 300px;">
                                                        Continue to Homepage
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="homepage-div"> <!-- Homepage Div -->

    <section class="hero is-link">
        <div class="hero-body">
            <p class="title">
                Knowledge Library
            </p>
            <p class="subtitle">
                The place where you can search student theses.
            </p>
        </div>
    </section>

    <div class="field has-addons" style="margin: 20px;">
        <p class="control">
            <span class="select">
                <select>
                    <option>Thesis</option>
                    <option>Project</option>
                </select>
            </span>
        </p>
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Search keywords (separated by comma)">
        </p>
        <p class="control">
            <a class="button">
                Search
            </a>
        </p>
    </div>


    <div class="columns" style="margin-left: 20px; margin-right: 20px">

        <!-- Submission Form -->
        <div class="column is-narrow" style="border: 1px solid black;">

            <form>

                <h1 class=" title">Search Filter</h1>
                <label class="label">By School</label>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Senior High School
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        School of Architecture
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        School of Computing and Information Technologies
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        School of Engineering
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        School of Management
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        School of Multimedia Arts
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Graduate School
                    </label>
                </div>

                <label class="label">By Year</label>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        2023
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        2022
                    </label>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Update Filters</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Reset Filters</button>
                    </div>
                </div>

            </form>

        </div>

        <div class="column">
            <h1 class="title">Knowledge Library</h1>
        </div>



        <script>
            const fileInput = document.querySelector('#file-js-example input[type=file]');
            fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                    const fileName = document.querySelector('#file-js-example .file-name');
                    fileName.textContent = fileInput.files[0].name;
                }
            }
        </script>

    </div>

</div>

<script src="static/js/homepage.js"></script>
{% endblock %}